@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, sans-serif;
  @apply text-zinc-900;
  font-weight: 300;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  @apply text-2xl;
}

.background-gradient {
  background-position: -150% 0;
  background-image: radial-gradient(
    at top center,
    rgb(244, 244, 244) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.background-base {
  background-color: #fff;
}

.code {
  @apply text-left text-sm p-4 bg-neutral-100 rounded-md whitespace-break-spaces;
}

.header {
  @apply flex gap-10 items-center justify-center py-4 border-b mb-3 text-sm background-base;
}

body.dark {
  @apply text-zinc-300;
}

.dark .header {
  @apply border-b-gray-500;
}

.dark .background-base {
  background-color: #000;
}

.dark pre {
  @apply bg-zinc-900;
}
.dark .background-gradient {
  background-image: radial-gradient(
    at top center,
    rgb(26, 26, 25) 0%,
    rgb(0, 0, 0) 100%
  );
}

:root {
  --destructive-bg: #d03c3f;
  --destructive-text: #fff;
}

.dark {
  --destructive-bg: #b01b1d;
}
